/* Created by Kten on 2015-07-01 */

.livedit-btn-list{ min-width: 110px; min-height: 40px; margin: auto; padding: 0px; float:left; }
.livedit-btn-list li{ list-style:none; float:left; }

.livedit-button { width: 100px; height : 30px; border: 2px solid #26822D; border-radius: 10px; background: #fff; cursor: pointer; }
.livedit-button:hover{ background: #26822D; color: #fff;}

.livedit-squer-icon{ margin-left: 6px; }
.livedit-squer-icon:hover{ opacity: 0.3; cursor: pointer; }

.livedit-squer-img{ width: 30px; height: 30px;}
